.main {
    width: 100%;
    margin: auto;
}

.header {
    font-family: roboto;
    font-size: 36px;
    font-weight: 300;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    margin-top: 20px;
}

.numMemorizeBox {
    width: 20%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-family: roboto;
}

.reviewList {
    height: 10%;
    width: 180px;
    margin: auto;
    margin-bottom: 35px;
    text-align: center;
    font-family: roboto;
}

.listElem {
    padding: 1px;
}

.buttonDiv {
    width: 20%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.thresholdBox {
    width: 40%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: roboto;
    text-align: center;
}